# 0. install
# 1. test
# 2. build
# 3. docker build and push
# 4. deploy aws with ssh

name: CD

on:
  push:
    branches:
      - main
      ## 테스트 위함. 삭제 예정
      - feature/CI*
  workflow_dispatch:

jobs:
  job-docker:
    name: Build Next App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@v3

      - name: Set env
        run: |
          echo ${{secrets.PROJECT_ENV}} >> .env
          cat .env

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_USER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{secrets.DOCKER_USER}}/pue_fe:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      #docker-compose 파일을 ec2 서버에 배포
      - name: Deploy with SSH
        uses: appleboy/ssh-action@master
        id: deploy-prod
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker stop pue_fe
            docker rm pue_fe
            sudo docker pull ${{ secrets.DOCKER_USER }}/pue_fe
            docker run -d --name pue_fe -p 80:3000 ${{ secrets.DOCKER_USER }}/pue_fe
            docker rmi -f $(docker images -f "dangling=true" -q)
